@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Shadows+Into+Light&display=swap");

body {
  display: flex;
  background-color: #ece9e0;
  color: #042a35;
  font-family: "Caveat", cursive;
}
.clicked {
  color: #00b894;
}
.btn {
  cursor: pointer;
}

.form,
.greetings {
  display: none;
  margin-top: -30px;
}

.showing {
  display: block;
  font-size: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.js-weather {
  font-size: 25px;
  display: block;
  margin-top: 30px;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: fadeIn 0.8s linear;
}

.pages {
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  font-family: var(--font);
}

@keyframes moveleft {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translatex(0px);
    opacity: 1;
  }
}

.page_left {
  margin-top: 15px;
  margin-left: 50px;
  animation: moveleft 1s linear;
}

@keyframes move {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }
  to {
    transform: translatex(0px);
    opacity: 1;
  }
}

.page_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  margin-left: 20px;
  animation: move 1s linear;
}
.page_right-up {
  margin-bottom: 30px;
}
.pending_finished {
  display: flex;
}
.pending,
.finished {
  font-size: 25px;
  height: 250px;
  width: 50%;
}

.page_right-down {
  height: 180px;
  width: 604px;
  background-color: white;
  opacity: 0.5;
  border-radius: 8px;
}
.page_right-down input {
  opacity: 1;
}

.js-clock-2022_title {
  font-size: 20px;
  display: block;
  margin-bottom: -10px;
}
.js-clock-2022 {
  font-size: 10px;
}

.js-clock {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 40px;
}

.js-greetings {
  animation: fadeIn 0.5s linear;
}

input {
  height: 30px;
  width: 300px;
  border-radius: 8px;
  border-style: none;
  background-color: #e4e1db;
  opacity: 0.5;
  font-weight: 600;
  font-size: 20px;
  font-family: "Caveat", cursive;
}

.page_right input {
  height: 40px;
  width: 600px;
}

.page_right h1 {
  font-size: 35px;
  font-weight: bolder;
}

button {
  height: 30px;
  width: 30px;
  background-color: #e4e1db;
  border-radius: 10px;
  border-style: none;
  opacity: 0.5;
  margin-right: 10px;
}
ul {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-left: -40px;
  margin-top: -20px;
}
li {
  display: flex;
  align-items: center;
}

input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
input:focus {
  outline: none;
  box-shadow: 4px 4px 10px 3px rgb(142, 141, 141);
}
